@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-display: fallback;
  font-weight: 700;
}

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
}
